header {
  background-color: var(--color-background);
  padding: 1rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  min-height: 5rem;
}

header h1 {
  font-size: 1.6rem;
  font-weight: 500;
}

header h1 strong {
  background: -webkit-linear-gradient(
    1deg,
    rgb(24, 24, 114),
    rgb(30, 94, 124),
    rgb(65, 155, 65)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  display: flex;
  gap: 0.5em;
  width: 25em;
}

.search input {
  width: 100%;
  padding: 0.5em;
  font-size: 1.1em;
}
