:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

header {
  background-color: var(--color-background);
  padding: 1rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  min-height: 5rem;
}

header h1 {
  font-size: 1.6rem;
  font-weight: 500;
}

header h1 strong {
  background: -webkit-linear-gradient(
    1deg,
    rgb(24, 24, 114),
    rgb(30, 94, 124),
    rgb(65, 155, 65)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  border: 3px solid var(--color-primary);
  background-color: var(--color-info-light);
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.2rem 1.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.search {
  display: flex;
  gap: 0.5em;
  width: 25em;
}

.search input {
  width: 100%;
  padding: 0.5em;
  font-size: 1.1em;
}

.container {
  background-color: red;
  width: 100vw;
  height: calc(100vh - 5rem);
}
